/Maquer.Auth.Api/bin
/Maquer.Auth.Api/obj
/Maquer.AuthService.Domain/bin
/Maquer.AuthService.Domain/obj
/Maquer.Cart.Api/obj
/Maquer.Cart.Api/bin
/Maquer.Catalog.Api/obj
/Maquer.Catalog.Api/bin
/Maquer.Common/obj
/Maquer.Common/bin
/Maquer.Gateway.Api/obj
/Maquer.Gateway.Api/bin
/Maquer.Order.Api/obj
/Maquer.Order.Api/bin
/Maquer.Payment.Api/obj
/Maquer.Payment.Api/bin
/Maquer.User.Api/obj
/Maquer.User.Api/bin
/Maquer.User.Domain/obj
/Maquer.User.Domain/bin
/Maquer.UserService.Domain/bin/Debug/netstandard2.0/Maquer.User.Domain.deps.json
/Maquer.UserService.Domain/bin/Debug/netstandard2.0/Maquer.UserService.Domain.deps.json
/Maquer.UserService.Domain/obj/Debug/netstandard2.0/Maquer.User.Domain.AssemblyInfo.cs
/Maquer.UserService.Domain/obj/Debug/netstandard2.0/Maquer.User.Domain.csproj.CopyComplete
/Maquer.UserService.Domain/obj/Debug/netstandard2.0/Maquer.User.Domain.csproj.FileListAbsolute.txt
/Maquer.UserService.Domain/obj/Debug/netstandard2.0/Maquer.UserService.Domain.AssemblyInfo.cs
/Maquer.UserService.Domain/obj/Debug/netstandard2.0/Maquer.UserService.Domain.csproj.CopyComplete
/Maquer.UserService.Domain/obj/Debug/netstandard2.0/Maquer.UserService.Domain.csproj.FileListAbsolute.txt
/Maquer.UserService.Domain/obj/Maquer.User.Domain.csproj.nuget.dgspec.json
/Maquer.UserService.Domain/obj/Maquer.User.Domain.csproj.nuget.g.props
/Maquer.UserService.Domain/obj/Maquer.User.Domain.csproj.nuget.g.targets
/Maquer.UserService.Domain/obj/Maquer.UserService.Domain.csproj.nuget.dgspec.json
/Maquer.UserService.Domain/obj/Maquer.UserService.Domain.csproj.nuget.g.props
/Maquer.UserService.Domain/obj/Maquer.UserService.Domain.csproj.nuget.g.targets
/Maquer.UserService.Domain/obj/project.assets.json
/Maquer.UserService.Api/bin/Debug/netcoreapp2.2/Maquer.User.Api.deps.json
/Maquer.UserService.Api/bin/Debug/netcoreapp2.2/Maquer.User.Api.runtimeconfig.dev.json
/Maquer.UserService.Api/bin/Debug/netcoreapp2.2/Maquer.User.Api.runtimeconfig.json
/Maquer.UserService.Api/bin/Debug/netcoreapp2.2/Maquer.UserService.Api.deps.json
/Maquer.UserService.Api/bin/Debug/netcoreapp2.2/Maquer.UserService.Api.runtimeconfig.dev.json
/Maquer.UserService.Api/bin/Debug/netcoreapp2.2/Maquer.UserService.Api.runtimeconfig.json
/Maquer.UserService.Api/bin/Debug/netcoreapp2.2/Properties/launchSettings.json
/Maquer.UserService.Api/bin/Debug/netcoreapp2.2/appsettings.Development.json
/Maquer.UserService.Api/bin/Debug/netcoreapp2.2/appsettings.json
/Maquer.UserService.Api/obj/Debug/netcoreapp2.2/Maquer.User.Api.AssemblyInfo.cs
/Maquer.UserService.Api/obj/Debug/netcoreapp2.2/Maquer.User.Api.RazorAssemblyInfo.cs
/Maquer.UserService.Api/obj/Debug/netcoreapp2.2/Maquer.User.Api.csproj.FileListAbsolute.txt
/Maquer.UserService.Api/obj/Debug/netcoreapp2.2/Maquer.UserService.Api.AssemblyInfo.cs
/Maquer.UserService.Api/obj/Debug/netcoreapp2.2/Maquer.UserService.Api.RazorAssemblyInfo.cs
/Maquer.UserService.Api/obj/Debug/netcoreapp2.2/Maquer.UserService.Api.csproj.CopyComplete
/Maquer.UserService.Api/obj/Debug/netcoreapp2.2/Maquer.UserService.Api.csproj.FileListAbsolute.txt
/Maquer.UserService.Api/obj/Maquer.User.Api.csproj.nuget.dgspec.json
/Maquer.UserService.Api/obj/Maquer.User.Api.csproj.nuget.g.props
/Maquer.UserService.Api/obj/Maquer.User.Api.csproj.nuget.g.targets
/Maquer.UserService.Api/obj/Maquer.UserService.Api.csproj.nuget.dgspec.json
/Maquer.UserService.Api/obj/Maquer.UserService.Api.csproj.nuget.g.props
/Maquer.UserService.Api/obj/Maquer.UserService.Api.csproj.nuget.g.targets
/Maquer.UserService.Api/obj/project.assets.json
/Maquer.AuthService.Api/bin/Debug/netcoreapp2.2/Maquer.Auth.Api.deps.json
/Maquer.AuthService.Api/bin/Debug/netcoreapp2.2/Maquer.Auth.Api.runtimeconfig.dev.json
/Maquer.AuthService.Api/bin/Debug/netcoreapp2.2/Maquer.Auth.Api.runtimeconfig.json
/Maquer.AuthService.Api/bin/Debug/netcoreapp2.2/Maquer.AuthServer.Api.deps.json
/Maquer.AuthService.Api/bin/Debug/netcoreapp2.2/Maquer.AuthServer.Api.runtimeconfig.dev.json
/Maquer.AuthService.Api/bin/Debug/netcoreapp2.2/Maquer.AuthServer.Api.runtimeconfig.json
/Maquer.AuthService.Api/bin/Debug/netcoreapp2.2/Maquer.AuthService.Api.deps.json
/Maquer.AuthService.Api/bin/Debug/netcoreapp2.2/Maquer.AuthService.Api.runtimeconfig.dev.json
/Maquer.AuthService.Api/bin/Debug/netcoreapp2.2/Maquer.AuthService.Api.runtimeconfig.json
/Maquer.AuthService.Api/bin/Debug/netcoreapp2.2/Properties/launchSettings.json
/Maquer.AuthService.Api/bin/Debug/netcoreapp2.2/appsettings.Development.json
/Maquer.AuthService.Api/bin/Debug/netcoreapp2.2/appsettings.json
/Maquer.AuthService.Api/obj/Debug/netcoreapp2.2/Maquer.Auth.Api.AssemblyInfo.cs
/Maquer.AuthService.Api/obj/Debug/netcoreapp2.2/Maquer.Auth.Api.RazorAssemblyInfo.cs
/Maquer.AuthService.Api/obj/Debug/netcoreapp2.2/Maquer.Auth.Api.csproj.FileListAbsolute.txt
/Maquer.AuthService.Api/obj/Debug/netcoreapp2.2/Maquer.AuthServer.Api.AssemblyInfo.cs
/Maquer.AuthService.Api/obj/Debug/netcoreapp2.2/Maquer.AuthServer.Api.RazorAssemblyInfo.cs
/Maquer.AuthService.Api/obj/Debug/netcoreapp2.2/Maquer.AuthServer.Api.csproj.FileListAbsolute.txt
/Maquer.AuthService.Api/obj/Debug/netcoreapp2.2/Maquer.AuthService.Api.AssemblyInfo.cs
/Maquer.AuthService.Api/obj/Debug/netcoreapp2.2/Maquer.AuthService.Api.RazorAssemblyInfo.cs
/Maquer.AuthService.Api/obj/Debug/netcoreapp2.2/Maquer.AuthService.Api.csproj.CopyComplete
/Maquer.AuthService.Api/obj/Debug/netcoreapp2.2/Maquer.AuthService.Api.csproj.FileListAbsolute.txt
/Maquer.AuthService.Api/obj/Maquer.Auth.Api.csproj.nuget.dgspec.json
/Maquer.AuthService.Api/obj/Maquer.Auth.Api.csproj.nuget.g.props
/Maquer.AuthService.Api/obj/Maquer.Auth.Api.csproj.nuget.g.targets
/Maquer.AuthService.Api/obj/Maquer.AuthServer.Api.csproj.nuget.dgspec.json
/Maquer.AuthService.Api/obj/Maquer.AuthServer.Api.csproj.nuget.g.props
/Maquer.AuthService.Api/obj/Maquer.AuthServer.Api.csproj.nuget.g.targets
/Maquer.AuthService.Api/obj/Maquer.AuthService.Api.csproj.nuget.dgspec.json
/Maquer.AuthService.Api/obj/Maquer.AuthService.Api.csproj.nuget.g.props
/Maquer.AuthService.Api/obj/Maquer.AuthService.Api.csproj.nuget.g.targets
/Maquer.AuthService.Api/obj/project.assets.json
/Maquer.AuthService.Api/obj
/Maquer.AuthService.Api/bin
/Maquer.AuthService.Dtos/bin
/Maquer.AuthService.Dtos/obj
/Maquer.UserService.Api/bin
/Maquer.UserService.Api/obj
/Maquer.UserService.Domain/obj
/Maquer.UserService.Domain/bin
/Maquer.Domain.Catalog/bin
/Maquer.Domain.Catalog/obj
/Maquer.Domain.User/obj
/Maquer.Domain.User/bin
/Maquer.UserService.Dtos/bin
/Maquer.UserService.Dtos/obj
/Maquer.Domain.User
/Maquer.Repositories/obj
/Maquer.Repositories/bin
